MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_INITDB_DATABASE=users
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_NAME=users
JWT_SECRET_KEY=whatever-you-want
